spring:
  datasource:
    url: jdbc:mysql://localhost:${DB_HOST}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        jdbc.time_zone: